
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #333;
  background-image: url('img/FondoHome12.png'); /* Imagen de fondo */
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetir la imagen */
  background-attachment: fixed; /* La imagen permanece fija */

  display: flex;
  flex-direction: column; /* Apila el header y el contenido principal */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e5e5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  width: 100%;
  
}

/* Estilo de la lista de navegación */
.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Logo */
.logo {
  width: 130px;
  height: auto;
}

/* Menu Central */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

/* Icono de carrito */
.cart-icon .icon {
  width: 24px;
  height: 24px;
}
/* Icono de carrito */
.login-icon .icon {
  width: 24px;
  height: 24px;
}

/* Estilo de los enlaces */
.header-list a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-family: 'Playfair Display', serif;
  padding: 8px 20px;
}

.header-list a:hover {
  border-bottom: 2px solid #333;
}

/* Estilo Dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 4px;
  top: 100%; /* Alineación debajo del toggle */
  left: 0;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-menu a {
  color: #333;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 0.9em;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

/* Mostrar el dropdown al pasar el ratón */
.dropdown:hover .dropdown-menu {
  display: block;
}


/*/////////////////////////////////////////////////////////////////*/
/* Contenedor principal */
.main-content {
  flex: 1; /* Ocupa todo el espacio restante debajo del header */
  display: flex;
  justify-content: center; /* Centra el contenedor horizontalmente */
  align-items: center; /* Centra el contenedor verticalmente */
}

/* Contenedor de login/sign-up */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

/* Formulario */
.form-container {
  width: 100%;
  text-align: center;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.toggle-buttons button.active {
  background-color: #000000;
  color: #fff;
}

.form {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.form.active {
  display: flex;
}

.form h2 {
  margin: 0;
  color: #000000;
}

.form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #ffffff;
  color: #000000;
}



/* Imagen en la esquina inferior derecha */
.corner-logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  opacity: 0.8;
}